#!/usr/bin/make -f

.PHONY: force
build: force

%:
	dh $@ --buildsystem=cmake

override_dh_auto_build:
	dh_auto_build
	$(MAKE) -C inst LDFLAGS="$(shell dpkg-buildflags --get LDFLAGS)"

override_dh_install:
	dh_install
	install -d debian/vlc-discordrpc-plugin/usr/bin
	install -m 755 inst/vlcrcedit debian/vlc-discordrpc-plugin/usr/bin/vlcrcedit

override_dh_auto_clean:
	dh_auto_clean
	$(MAKE) -C inst clean
